<mat-card style="width: 100%;">
<mat-mat-card-header>
    <app-navigation></app-navigation>
</mat-mat-card-header>
<mat-card-content>
    <div style="display: inline-flexbox;" >
        <h2 style="margin-top:3%;" >Doctor's List</h2>
        <button class="btn btn-primary" style="float:right;margin-right:2%;">New Doctor</button>
    </div>    
    </mat-card-content>
<mat-card-footer style="margin-top: 10%;">
    <app-table-representation></app-table-representation>
</mat-card-footer>
</mat-card>