<table  class="table table-bordered table-striped table-hover" mat-table [dataSource]="loadedData">
    <thead *ngFor="let header of headers">
        <ng-container matColumnDef="{{header.tableColumnName}}">
            <th mat-header-cell *matHeaderCellDef>{{header.tableColumnName}}</th>
            <td mat-cell *matCellDef="let element">{{element[header.tableColumnName]}}</td> 
        </ng-container>
    </thead>
    <tbody>
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr style="font-weight: bold;"mat-row *matRowDef="let row;columns:displayColumns;"></tr>
    </tbody>
</table>